/* Set up border box for each individual element */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* set variables for repeated elements */
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 122;
}

/* Set the body so all items to be centered and even on the page */
h1 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  font-size: 40px;

  /* background-color: hsl(var(--hue), 100%, 40%); */
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw; /* set view width takes up entire view*/
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: hsl(var(--hue), 100%, 40%); */
}
/*  */
body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.timer {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 10px;
  width: 30vw;
  height: 10vh;
  justify-content: right;
}

.high-scores {
  padding: 3px;
  margin: 0;
  height: 40px;
}

p {
  font-size: 20px;
}

 /* .high-scores .btn,
.timer .btn {
  font-size: 25px;
  color: rgb(153, 85, 153);
  position: relative;
}  */

/* .timer {
  padding: 3px;
  text-align: right;
  height: 40px;
}  */

.container {
  width: 800px;
  max-width: 80%;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-size: 30px;
}

.btn-header {
  display: inline-block;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 0px;
  /* color: lightgrey; */
}

.question-container {
  /* add size for question font */
  font-size: 35px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 25px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Background Styles Only */

@import url("https://fonts.googleapis.com/css?family=Raleway");
